@model PaginationVM<neoComputacion.Models.Post>

<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <a asp-controller="Post" asp-action="DetailPost" asp-route-id="@post.Id">
                        <img class="card-img-top" src="~/images/@post.Image" alt="@post.Title image">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">@post.Title</h3>
                        <p class="card-text">@post.Content</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageNumber - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }

            @if (Model.PageNumber < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageNumber + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>

<a class="btn btn-primary" asp-action="CreatePost" asp-controller="Post">Create post</a>
