@model PaginationVM<neoComputacion.Models.Post>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>

@functions {
    public string GetTimeAgo(DateTime creationDate)
    {
        TimeSpan timeDifference = DateTime.Now - creationDate;

        if (timeDifference.TotalMinutes < 60)
            return $"{(int)timeDifference.TotalMinutes} minutes ago";
        else if (timeDifference.TotalHours < 24)
            return $"{(int)timeDifference.TotalHours} hours ago";
        else if (timeDifference.TotalDays < 7)
            return $"{(int)timeDifference.TotalDays} days ago";
        else
            return $"{(int)(timeDifference.TotalDays / 7)} weeks ago";
    }

    public string truncateString(string input)
    {
        int numberOfLetters = 70;

        if (input.Length <= numberOfLetters)
            return input;
        else
            return input.Substring(0, numberOfLetters) + "...";
    }
}

<div class="container">
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <a asp-controller="Post" asp-action="DetailPost" asp-route-id="@post.Id">
                        <img class="card-img-top" src="~/images/postImages/@post.Image" alt="@post.Title image">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">@post.Title</h3>
                        <p class="card-text">@truncateString(@post.Content)</p>
                        <p class="card-text">
                            <small class="text-muted" style="text-align: right; display: block;">
                                @GetTimeAgo(@post.CreationDate)
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageNumber - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageNumber + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>

<a class="btn btn-primary" asp-action="CreatePost" asp-controller="Post">Create post</a>
